/**
 * GHColors theme by Avi Aryan (http://aviaryan.in)
 * Inspired by Github syntax coloring
 */

code[class*="language-"],
pre[class*="language-"] {
    color: #393A34;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    font-size: 0.95em;
    line-height: 1.2em;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    background: #b3d4fc;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border: 1px solid #dddddd;
    background-color: white;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .2em;
    padding-top: 1px; padding-bottom: 1px;
    background: #f8f8f8;
    border: 1px solid #dddddd;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #999988; 
    font-style: italic;
}

.token.namespace {
    opacity: .7;
}

.token.string,
.token.attr-value {
    color: #92AD94;
}
.token.punctuation,
.token.operator {
    color: #393A34; /* no highlight */
    font-weight: normal;
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex,
.token.inserted {
    color: #36acaa;
}

.token.atrule,
.token.attr-name,
.language-autohotkey .token.selector {
    color: #00a4db;
}


.token.deleted,
.language-autohotkey .token.tag {
    color: #6290C8;
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
    color: #00009f;
}


.token.important,
.token.function,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token-keyword{
    color: #91C499;
}
.hljs-string{
    color: #cf6ba9;
    font-weight: bold;
}

.token.function{
    color: #1b4d3e;
    font-style: italic;
    font-weight: 600;
    
}
.hljs-function{
    color: black;
    font-weight: normal;
}
.hljs-keyword {
    color: #20295A;
    font-weight: 600;
}

.hljs-class{
    color: black;
    font-weight: 600;
}

.hljs-number{
    color:#8fbc8f;
    font-weight: 600;
    font-size: 1em;
}
.hljs-title{
    color: #537385;
    font-weight: 550;
    
}

.token.keyword{
    color: #8A3761;
    font-weight: 600;
    
}
.hljs-params{
    color: #534b4f;
    font-weight: 500;
}
.token.class-name{
    color:#7F95D1;
    font-weight: 500;
    font-size: 1em;
}
.token.number{
    color: #626868;
}