@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

h1 {
  font-family: 'Noto Serif TC', serif;
  color:#0B4151;
  font-size:28px;
  text-indent:2px;
}
h1.title {
  font-family: 'Noto Serif TC', serif;
  color:#0B4151;
  font-size:28px;
  text-indent:2px;
}
h2 {
  font-family: 'Noto Serif TC', serif;
  color:#00545F;
  font-size:24px;
  text-indent:8px;
}
h3 {
  color: #708090;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  text-indent:10px;
  text-decoration: bold;
}
h4{
  color:#9CCCB8;
  text-shadow: #9CCCB8;
  font-family: 'Vollkorn', serif;
  font-size: 14px;
  text-indent:16px;
  text-decoration: bold;
}
h5 {
  font-family: 'Libre Baskerville', serif;
  color:#ff91af;
  text-decoration: bold;
  font-size:17px;
  padding: 1px;
  text-indent:12px;
}

li {
  font-size: 14px;
  padding:2px;
  text-indent:0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 35px;
  margin-left: 35px;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 24px;
  font-size: 14px;
  padding: 2px;
  
}
p {
  font-size: 14px;
  padding:2px;
  text-indent:0;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 35px;
  margin-left: 35px;
}

li {
  font-size: 14px;
  padding:2px;
  text-indent:0;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 35px;
  margin-left: 35px;
}


.a2 {
  color: black;
  border-radius: 25px;
  width: 85%;
  padding: 4px;
  white-space:normal;
  background: #88d8c0;
  font-size: 13px;
  margin: auto;
  box-shadow: 4px 4px 4px #aaa;
}
a {
  color: #f88379;
}

.a3 {
  color: black;
  border-radius: 25px;
  width: 85%;
  padding: 4px;
  white-space:normal;
  background: #008080;
  font-size: 13px;
  margin: auto;
  box-shadow: 4px 4px 4px #aaa;
}

.b1 {
  color: black;
  font-family: 'Vollkorn', serif;
  font-size: 14px;
  border-radius: 25px;
  width: 80%;
  background: #f9fafb;
  margin: auto;
  box-shadow: 4px 4px 4px #aaa;
  padding: 8px;
}


pre.sourceCode.java{
  width: 85%;
  background: #F2F2F2;
  margin:auto;
  color: black;
  max-height: 400px;
  
}

.sp1 {
  font-family: 'Trocchi', sans-serif;
  color:#ACA4E2;
  text-decoration: bold;
  font-size:19px;
  padding: 1px;
  text-indent:14px;
}
.sp2 {
  font-family: 'Trocchi', sans-serif;
  color:#6CB4D9;
  text-decoration: bold;
  font-size:19px;
  padding: 1px;
  text-indent:14px;
}
.sp3 {
  font-family: 'Trocchi', sans-serif;
  color:#fe4164;
  text-decoration: bold;
  font-size:19px;
  padding: 1px;
  text-indent:14px;
}
.sp4 {
  font-family: 'Trocchi', sans-serif;
  color:#008080;
  text-decoration: bold;
  font-size:19px;
  padding: 1px;
  text-indent:14px;
}
.sp5 {
  font-family: 'Trocchi', sans-serif;
  color:#80d4ff;
  text-decoration: bold;
  font-size:19px;
  padding: 1px;
  text-indent:14px;
}
.sp6 {
  font-family: 'Trocchi', sans-serif;
  color:#ff7f50;
  text-decoration: bold;
  font-size:19px;
  padding: 1px;
  text-indent:14px;
}
.sp7 {
  font-family: 'Trocchi', sans-serif;
  color:#fba0e3;
  text-decoration: bold;
  font-size:19px;
  padding: 1px;
  text-indent:14px;
}
.sp8 {
  font-family: 'Trocchi', sans-serif;
  color:#38BDBB;
  text-decoration: bold;
  font-size:19px;
  padding: 1px;
  text-indent:14px;
}
.sp9 {
  font-family: 'Trocchi', sans-serif;
  color:#5CBD92;
  text-decoration: bold;
  font-size:19px;
  padding: 1px;
  text-indent:14px;
}
.sp10 {
  font-family: 'Trocchi', sans-serif;
  color:#EF4868;
  text-decoration: bold;
  font-size:19px;
  padding: 1px;
  text-indent:14px;
}
.sp11 {
  font-family: 'Trocchi', sans-serif;
  color:#F58249;
  text-decoration: bold;
  font-size:19px;
  padding: 1px;
  text-indent:14px;
}
.sp12 {
  font-family: 'Trocchi', sans-serif;
  color:#F0B15E;
  text-decoration: bold;
  font-size:19px;
  padding: 1px;
  text-indent:14px;
}
.sp13 {
  font-family: 'Trocchi', sans-serif;
  color:#ECD999;
  text-decoration: bold;
  font-size:19px;
  padding: 1px;
  text-indent:14px;
}

.lp1 {
  font-family: 'Trocchi', sans-serif;
  color:#ACA4E2;
  text-decoration: bold;
  font-size:13px;
  padding: 1px;
  text-indent:20px;
}
.lp2 {
  font-family: 'Trocchi', sans-serif;
  color:#6CB4D9;
  text-decoration: bold;
  font-size:13px;
  padding: 1px;
  text-indent:20px;
}
.lp3 {
  font-family: 'Trocchi', sans-serif;
  color:#fe4164;
  text-decoration: bold;
  font-size:13px;
  padding: 1px;
  text-indent:20px;
}
.lp4 {
  font-family: 'Trocchi', sans-serif;
  color:#008080;
  text-decoration: bold;
  font-size:13px;
  padding: 1px;
  text-indent:20px;
}
.lp5 {
  font-family: 'Trocchi', sans-serif;
  color:#80d4ff;
  text-decoration: bold;
  font-size:13px;
  padding: 1px;
  text-indent:20px;
}
.lp6 {
  font-family: 'Trocchi', sans-serif;
  color:#ff7f50;
  text-decoration: bold;
  font-size:13px;
  padding: 1px;
  text-indent:20px;
}
.lp7 {
  font-family: 'Trocchi', sans-serif;
  color:#fba0e3;
  text-decoration: bold;
  font-size:13px;
  padding: 1px;
  text-indent:20px;
}
.lp8 {
  font-family: 'Trocchi', sans-serif;
  color:#38BDBB;
  text-decoration: bold;
  font-size:13px;
  padding: 1px;
  text-indent:20px;
}
.lp9 {
  font-family: 'Trocchi', sans-serif;
  color:#5CBD92;
  text-decoration: bold;
  font-size:13px;
  padding: 1px;
  text-indent:20px;
}
.lp10 {
  font-family: 'Trocchi', sans-serif;
  color:#EF4868;
  text-decoration: bold;
  font-size:13px;
  padding: 1px;
  text-indent:20px;
}
.lp11 {
  font-family: 'Trocchi', sans-serif;
  color:#F58249;
  text-decoration: bold;
  font-size:13px;
  padding: 1px;
  text-indent:20px;
}
.lp12 {
  font-family: 'Trocchi', sans-serif;
  color:#F0B15E;
  text-decoration: bold;
  font-size:13px;
  padding: 1px;
  text-indent:20px;
}
.lp13 {
  font-family: 'Trocchi', sans-serif;
  color:#ECD999;
  text-decoration: bold;
  font-size:13px;
  padding: 1px;
  text-indent:20px;
}